*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}



.side-bar{
width: 20%;
height: 100%;
background-color: red;
position: fixed;
}

.main-content{

  width: 80%;
  height: 100%;
  background-color: green;
  float: right;
  
}

.side-brand{
  background-color: green;
  padding: 40px 50px;
}

.side-bar-menu ul li a{
  padding: 10px 50px;
  display: block;
}

.side-bar-menu ul li{
  transition: all 0.5s ease;
}

.side-bar-menu ul li:hover{
background-color: rgba(0,0,0,0.2);

}

.side-bar-menu{
  margin-top: 50px;
}